.nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-top: 2rem;
}

.nav ul {
  display: flex;
  gap: 20px;
}

.nav ul li {
  list-style: none;
}

.shopping {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shopping img {
  height: 25px;
  /* margin-top: 12px;
  margin-left: 10px; */
  /* margin-right: 6px; */
}

.shopping:hover {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}
.nav ul li:hover {
  color: red;
}
